<div class="menu">
    <a href="/">HOME</a>
    <a href="/fp">FAVOURITE PERSONALITIES</a>
    <a href="/fc">FAVOURITE CITIES</a>
    <a href="/fts">FAVOURITE TOURIST SPOTS</a>
    <a href="/contact">CONTACT US</a>
</div>