<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="Images/travel.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/favouriteTouristSpot  .css">

    <title>Favourite Tourist Spots</title>
</head>
<body>
    <img src="/img/fav.ico" alt="" class="Logo-img">
    <%- include("partials/navbar.ejs")%>
    </div>
        <table border="1" class="intro-table">
            <th>
                Name
            </th>
            <th>
                pictures
            </th>
            <th>
                introduction
            </th>
            <tr>
                <td>
                    SWAT VALLEY
                </td>
                <td>
                    <img src="/img/swat.png" alt="" class="table-image">
                </td>
                <td>
                    Though it has had a rough past, the present and future of Swat Valley are shining very bright. This stunning valley in the Khyber Pakhtunkhwa province of Pakistan is something straight out of a fairy tale. 
                </td>
            </tr>
            <tr>
                <td>
                    BOYUN VILLAGE
                </td>
                <td>
                    <img src="/img/boyun_Village.png" alt="" class="table-image">
                </td>
                <td>
                    Boyun, also known as Green Top, is a short drive or manageable up-hill walk from Kalam town.
                </td>
            </tr>
            <tr>
                <td>
                    HUNZA VALLEY
                </td>
                <td>
                    <img src="/img/hunza.png" alt="" class="table-image">
                </td>
                <td>
                    If you live in Pakistan – or have read anything about the country – it’s almost certain you’ve come across the name Hunza. Don’t let the word ‘valley’ confuse you, though – Hunza is actually a massive district made up of numerous valleys and villages. 
                </td>
            </tr>
            <tr>
                <td>
                    YARKHUN VALLEY
                </td>
                <td>
                    <img src="/img/yarkhun.png" alt="" class="table-image">
                </td>
                <td>
                    Though it’s relatively unheard of and forgotten compared to Pakistan’s most famous tourist spots, I think Yarkhun Valley was the most beautiful place I visited in the country.
                </td>
            </tr>
            <tr>
                <td>
                    PHANDER LAKE             
                </td>
                <td>
                    <img src="/img/phander.png" alt="" class="table-image">
                </td>
                <td>
                    Phander Lake, located in Phander Village, is almost too good to be true. The teal-coloured lake sits silently amongst light-green trees befitting a landscape painting.
                </td>
            </tr>
            <tr>
                <td>
                    DEOSAI PLAINS NATIONAL PARK
                </td>
                <td>
                    <img src="/img/deosai.png" alt="" class="table-image">
                </td>
                <td>
                    Hingol National Park is technically in Pakistan, but it looks more like a Martian planet! The park is over 6,000-square-kilometres and contains incredibly unique rock formations, vast canyons, numerous animal species, and even a mud volcano. 
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <img src="/img/fav.ico" alt="" class="Logo-img">
                </td>
            </tr>
            <tr>
                <td>
                    Location: PCSIR PHASE 2 498 B, Lahore <br>
                    Email: maqsoodsaim2002@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    Social media links: <br>
                    <a href="https://www.instagram.com"><img src="/img/instagram.png" alt="" class="social"></a>
                    <a href="https://www.facebook.com"><img src="/img/facebook.png" alt="" class="social"></a> <br>
                    <strong>&copy; All rights reserved by Saim Maqsood</strong>
                </td>
            </tr>
        </table>
</body>
</html>