<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="Images/popular.png" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="/css/favouritePerson.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Personalities</title>
</head>

<body>
    <img src="/img/fav.ico" alt="" class="Logo-img">
    <%- include("partials/navbar.ejs")%>
    <table border="1">
        <th>
            Favourite Person Name
        </th>
        <th>
            Favourite Person pictures
        </th>
        <th>
            Favourite Person introduction
        </th>
        <tr>
            <td>
                Lyndon Smith
            </td>
            <td>
                <img src="/img/Lyndon_Smith.png" alt="" class="table-image">
            </td>
            <td>
                Lyndon Smith is an American actress. She is known for her roles as Natalie in the NBC drama Parenthood and Dierdre in the TNT police drama Public Morals. 
            </td>
        </tr>
        <tr>
            <td>
                Ashlynn yennie
            </td>
            <td>
                <img src="/img/Ashlynn.png" alt="" class="table-image">
            </td>
            <td>
                Ashlynn Yennie is an American actress from Riverton, Wyoming. She is best known for her role in the 2009 Dutch horror film The Human Centipede and its 2011 sequel. In 2016, Yennie played Ashley in the Showtime TV mini-series Submission.
            </td>
        </tr>
        <tr>
            <td>
                Olesya Rulin
            </td>
            <td>
                <img src="/img/olesya.png" alt="" class="table-image">
            </td>
            <td>
                Olesya Yurivna Rulina is a Russian-American actress. She is best known for co-starring in all three films of the High School Musical franchise as Kelsi Nielsen. She also starred in the films Private Valentine: Blonde & Dangerous, Flying By, Expecting Mary and Family Weekend.
            </td>
        </tr>
        <tr>
            <td>
                Jillian Murray
            </td>
            <td>
                <img src="/img/Jillian.png" alt="" class="table-image">
            </td>
            <td>
                Jillian Murray is an American actress. She is known for her roles as Portlyn on Sonny with a Chance, Olivia on MTV's Awkward, Gwen Adams in American High School, Lex Mitchell in Forget Me Not, Brandi Cox in Wild Things: Foursome, and as the body model for Dr. Liara T'Soni for the Mass Effect video game series.
            </td>
        </tr>
    </table>
    <div id="Footer">
        <table>
            <tr>
                <td>
                    <img src="/img/fav.ico" alt="" class="Logo-img">
                </td>
            </tr>
            <tr>
                <td>
                    Location: PCSIR PHASE 2 498 B, Lahore <br>
                    Email: maqsoodsaim2002@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    Social media links: <br>
                    <a href="https://www.instagram.com"><img src="/img/instagram.png" alt="" class="social"></a>
                    <a href="https://www.facebook.com"><img src="/img/facebook.png" alt="" class="social"></a> <br>
                    <strong>&copy; All rights reserved by Saim Maqsood</strong>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>