<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="Images/location.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/favouriteCities.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Cities</title>
</head>
<body>
    <img src="/img/fav.ico" alt="" class="Logo-img">
    <%- include("partials/navbar.ejs")%>
    <table border="1">
        <th>
            Name of City
        </th>
        <th>
            Image of City
        </th>
        <th>
            Introduction
        </th>
        <th>
            Video
        </th>
        <tr>
            <td>
                Islamabad
            </td>
            <td>
                <img src="/img/Islamabad.png" alt="" class="table-image">
            </td>
            <td>
                Islamabad is the capital city of Pakistan. It is the country's ninth-most populous city, with a population of over 1.2 million people.
            </td>
            <td>
            <video controls>
                <source src="/videos/islamabad.mp4">
            </video>
        </td>
        </tr>
        <tr>
            <td>
                Lahore
            </td>
            <td>
                <img src="/img/lahore.png" alt="" class="table-image">
            </td>
            <td>
                Lahore is the second most populous city in Pakistan after Karachi and 26th most populous city in the world, with a population of over 13 million.
            </td>
            <td>
                <video controls>
                    <source src="/videos/Lahore.mp4">
                </video>
            </td>
        </tr>
        <tr>
            <td>
                Peshawar
            </td>
            <td>
                <img src="/img/peshawar.png" alt="" class="table-image">
            </td>
            <td>
                Peshawar is the sixth largest city in Pakistan, with a population of over 2.3 million.
            </td>
            <td>
                <video controls>
                    <source src="/videos/Peshawar.mp4">
                </video>
            </td>
        </tr>
    </table>
        <table>
            <tr>
                <td>
                    <img src="/img/fav.ico" alt="" class="Logo-img">
                </td>
            </tr>
            <tr>
                <td>
                    Location: PCSIR PHASE 2 498 B, Lahore <br>
                    Email: maqsoodsaim2002@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    Social media links: <br>
                    <a href="https://www.instagram.com"><img src="/img/instagram.png" alt="" class="social"></a>
                    <a href="https://www.facebook.com"><img src="/img/facebook.png" alt="" class="social"></a> <br>
                    <strong>&copy; All rights reserved by Saim Maqsood</strong>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>