<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut Icon" href="/img/fav.ico" type="Image/ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal website</title>
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <img src="/img/fav.ico" alt="" class="Logo-img">
    <%- include("partials/navbar.ejs")%>
    
    <table border="1">
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th>
            introduction
        </th>
        <tr>
            <td>
                Saim Maqsood
            </td>
            <td>
                <img src="/img/me.png" alt="" id="my-image">
            </td>
            <td>
                Hello, I am doing my bachelors in BSCS from UMT. The reson behind me choosing this feild is that I have developed interest in the feild of computer science. I prefer learning more about how computers function and how their abilities make our life easier.
            </td>
        </tr>
    </table>
        <table>
            <tr>
                <td>
                    <img src="/img/fav.ico" alt="" class="Logo-img">
                </td>
            </tr>
            <tr>
                <td>
                    Location: PCSIR PHASE 2 498 B, Lahore <br>
                    Email: maqsoodsaim2002@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    Social media links: <br>
                    <a href="https://www.instagram.com"><img src="/img/instagram.png" alt="" class="social"></a>
                    <a href="https://www.facebook.com"><img src="/img/facebook.png" alt="" class="social"></a> <br>
                    <strong>&copy; All rights reserved by Saim Maqsood</strong>
                </td>
            </tr>
        </table>
</body>
</html>